<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:usesCleartextTraffic="true">
        <meta-data
            android:name="GETUI_APPID"
            android:value="${GETUI_APPID}" />
        <service
            android:name="com.hongdou.getuiplugin.GetuiIntentService"
            android:exported="false" />
        <service
            android:name="com.hongdou.getuiplugin.GetuiPushService"
            android:exported="false"
            android:process=":pushservice" />
    </application>
    <queries>
        <intent>
            <action android:name="com.getui.sdk.action" />
        </intent>
    </queries>
</manifest>
